*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

ul, li {
  list-style: none;
}

.flex, .flex-column {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.app {
  margin-top: 2rem;
  font-size: 1rem;
}

.controls {
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-around;
  margin: 1rem auto;
  width: 400px;
}

.btn {
  padding: 1rem;
  border-radius: 6px;
  border: 0;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #1998ff;
  color: #fff;
  width: 7.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
  background-color: #39a4fb;;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  background-color: #1998ff;
  box-shadow: none;
}

.input {
  width: 30%;
}

.input-field {
  font-size: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  flex: 1;
  max-width: 100%;
  padding: 0.5rem 0.2rem;
}

.input:focus {
  outline: 0;
}

.radio {
  cursor: pointer;
  align-items: center;
}

.radio input {
  width: 0;
  height: 0;
  opacity: 0;
}

.radio:hover * .radio-inner {
  opacity: 1;
  width: 0.35rem;
  height: 0.35rem;
  top: 0.26rem;
  left: 0.26rem;
  transition: all 0.1s ease-in;
}

.radio-outer.checked > .radio-inner {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.radio-outer {
  display: block;
  width: 1rem;
  height: 1rem;
  border: solid 1px black;
  border-radius: 50%;
  float: left;
  margin-right: 0.2rem;
}

.radio-inner {
  opacity: 0;
}

.radio-inner, .radio-outer.checked > .radio-inner {
  background-color: black;
  border-radius: 50%;
  display: block;
  position: relative;
  width: 0.55rem;
  height: 0.55rem;
  top: 0.16rem;
  left: 0.16rem;
}

.flash {
  width: 25%;
}

.canvas {
  width: 400px;
  height: 400px;
  margin: auto;
  border: solid 1px black;
  position: relative;
  font-family: initial;
}

.controls, .message, .quiz-canvas {
  font-family: 'Source Sans Pro', sans-serif;
}

.message {
  margin: 1rem;
}

.message .footer {
  font-size: smaller;
}

.input .label {
  margin-bottom: 1rem;
}

.quiz-canvas, .quiz-form {
  align-items: center;
  justify-content: center;
}

.quiz-form {
  width: 35%;
  justify-content: space-between;
}

.quiz-form .input {
  padding: 0.4rem;
  border: 1px solid #8a8989;
  border-radius: 3px;
  width: 60%;
}

.quiz-form .label {
  font-size: 1.1rem;
  width: 7.5rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.results {
  justify-content: space-between;
  align-items: center;
}

.answer {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.answer .letter {
  margin-right: 1rem;
}

.results .percentage {
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}